---
import { BASE_URL, GITHUB_URL } from "../consts";

const { slug } = Astro.params;
const url = `${BASE_URL}/${slug}`;
const pkg = `pkg.go.dev/${url}`;
const github = `${GITHUB_URL}/${slug}`;
---

<!DOCTYPE html>
<html>
    <head>
        <meta name="go-import" content={`${url} git https://${github}`} />
        <meta name="go-source" content={`${url} https://${github} https://${github}/tree/master{/dir} https://${github}/tree/master{/dir}/{file}#L{line}`}/>
        <meta http-equiv="refresh" content={`0; url=https://${pkg}`} />
    </head>
    <body>
        Nothing to see here. Please <a href={`https://${pkg}`}>move along</a>.
    </body>
</html>
